.footer {


  position: relative;
  margin: $main-size;


  p{

    color: black;
    float: left;
    margin: $main-size;
  }
}

.logo {

  float: right;
  margin: $main-size;


}

.end {

  color: black;
  font-size: $main-size;
  float: right;
  margin: $main-size;


}

.button {

}