

.form {

  display: flex;
  width: 100%;

}



.box {

  justify-content: space-between;
  align-content: flex-start;
  margin: 50px;
  padding: 30px;
  width: 50%;

  h4 {

    margin: 18px;
    width: $main-width;
    &:after {
      content: 'Kontakt';
      border-bottom: 4px ridge mediumspringgreen;
      color: black;
      font-size: 40px;
      font-weight: 700;
    }
  }

}

.box2 {

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  //justify-content: center;
  padding: 70px;
  width: 50%;
}

//.mesage  {
//
//  width: $main-width/2;
//  border: 2px ridge mediumspringgreen;
//  color: #666666;
//  font-size: $main-size * 1,5;
//
//
//}

textarea {

  width: $main-width;
  border: 1px ridge mediumspringgreen;
  color: $grayCol;
  font-size: $main-size * 1,5;
  margin-left: 10px;
  height: 200px;
  content: 'wiadomosc';


}

input {

  height: 30px;
  padding: $main-size;
  margin: 10px;
  border: 1px ridge mediumspringgreen;
  color: #666666;
  font-size: $main-size * 1,5;
  width: $main-width;
}

.checkboxInfo {


  //top: 100px;
  //right: 100px;
  color: $grayCol;
  font-size: $main-size / 2;
  width: $main-width;



}

.regular-checkbox {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  //top: 70px;
  //right: 70px;

}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: $greenCol;
}

.regular-checkbox:checked:after {
  content: '';
  font-size: 14px;
  position: relative;
  top: 0px;
  left: 3px;
  color: #99a1a7;
  background-image: url("/images/form_ok.jpg");
}

